<!-- CONTACT SECTION -->
<section id="contact" name="contact"></section>
<div id="contactwrap">
  <div class="sep contact" data-stellar-background-ratio="0.5"></div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h1>{{ site.data.t[page.lang].contact-us }}</h1>
        <p>{{ site.data.t[page.lang].contact-us-underline }}</p>
        <p>
          {{ site.title }}<br/>
          {{ site.address }}<br/>
          {{ site.zipcode }} {{ site.city }}<br/>
          {{ site.country }}
        </p>
        <p>
          <i class="fas fa-envelope"></i> <a href="mailto:{{ site.author.email }}" style="text-white">{{ site.author.email }}</a>
        </p>
      </div>

      <div class="col-8">
        <div style="width: 100%"><iframe width="100%" height="350" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Place%20de%20la%20Bastille+(Bastille%20Blockchain%20solutions)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create a route on google maps</a></iframe></div><br />
      </div>

    </div><!--/row -->
  </div><!-- /container -->
</div>
