
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="assets/js/classie.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="assets/js/smoothscroll.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script>
  $(function(){
    if($(window).width()>767){
      $.stellar({
        horizontalScrolling: false,
        verticalOffset: 40
      });
      var boxes = $('.well');
      var maxHeight = Math.max.apply(
        Math, boxes.map(function() {
          return $(this).height();
        }).get());
        boxes.height(maxHeight);
      }
      $(".menu a").click(function(){
        $(".menu-open").toggleClass("menu-open");
        $('#menuToggle').toggleClass('active');
        $('body').toggleClass('body-push-toleft');
      });
      setTimeout(function(){
        // Hide the address bar!
        window.scrollTo(0, 1);
      }, 0);

    });
    </script>
