<!-- TECHNOLOGIES SECTION -->
<section id="technologies" name="technologies"></section>
<div id="technologieswrap">
  <div class="sep technologies" data-stellar-background-ratio="0.5"></div>

  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto centered">
        <h1>{{ site.data.t[page.lang].menu-technologies }}</h1>
        <h3>{{ site.data.t[page.lang].headline-technologies }}</h3>
        <br/>
      </div><!-- /col-lg-8 -->
    </div><!--/row -->

    <div class="row">

      {% assign lang-technologies = site.data.technologies | where: "lang", page.lang  | sort: 'title' %}

      {% for tech in lang-technologies %}

      <div class="col wow fadeInUp hvr-grow" data-wow-delay="0.{{forloop.index}}s">
        <div class="card border-secondary">
          <div class="card-header"><h3 class="card-title centered">{{ tech.title }}</h3></div>
          <img class="card-img-top" src="assets/img/tech/tech-bg.png" />
          <img src="assets/img/tech/{{ tech.image }}-square.png" alt="{{ tech.image }}" style="width: 200px; position: absolute;
          top: 30%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%) "/>

          <div class="card-body">

            <p class="card-text text-justify">{{ tech.description }}</p>
            <a class="btn btn-outline-primary btn-sm float-right smoothScroll" href="#contact">{{ site.data.t[page.lang].contact-us }}</a>

          </div>
        </div>
      </div>

      {% endfor %}

    </div><!--/row -->

  </div><!--/container -->
  <h1><a href="#projects" class="smoothScroll nextArrow"><i class="fas fa-angle-double-down"></i></a></h1>
</div><!--/technologieswrap -->
