<!DOCTYPE html>
<html lang="{{ page.lang }}">

{% include head.html %}

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

  {% include menu.html %}

  <section id="home" name="home"></section>
  <div id="headerwrap" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-6 mx-auto">
          <img class="animated fadeInUp slow" src="assets/img/bbs-logo.png" style="max-width:100%;"></img>
          <h2 class="animated fadeIn delay-2s">{{ site.tagline }}</h2>
          <h2><a href="#services" class="smoothScroll nextArrow"><i class="fas fa-angle-double-down"></i></a></h2>
        </div>
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/headerwrap -->

  {% include services.html %}

  {% include projects.html %}

  {% include contact.html %}

  {% include footer.html %}

</body>
</html>
